@media (max-width:773px)
{
    body,html{
        font-size:8px;
    }
}

@media (max-width:600px)
{
    body,html{
        font-size:7px;
    }
}
@media (max-width:510px)
{
    body,html{
        font-size:5.5px;
    }
}
@media (max-width:600px)
{
    body,html{
        font-size:4px;
    }
}

